@import '_vars';
@import '_global';
@import '_fonts';

.header__top{
    background-color: $gray;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header__btn{
    margin-left: auto;
    margin-right: 50px;
    width: 150px;
    padding: 5px;
    border-radius: 25px;
    background-color: $blue;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.menu{
    display: flex;
    height: 80px;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 20px;
        }
    }
    a{
        font-size: 15px;
        line-height: 42px;
        text-transform: uppercase;
    }
}
.menu__inner{
    display: flex;
    justify-content: space-between;
}



